*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	overflow-x: hidden;
}


.mb-20{
	margin-bottom: 20px;
	display: inline-block;
	width: 100%;
}

.row{
	
	width: -webkit-calc(100% + 30px);
   	width: -moz-calc(100% + 30px);
   	width: calc(100% + 30px);
}

.sidebar{
	width: 280px;
	float: left;
	background: #2c2e3e;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
}


.sidebar:before{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 280px;
	content: "";
	background: #2c2e3e;
	left: 0;	
	    z-index: -1;
}

.sidebar-toggle{
	display: inline-block;
	width: 40px;
	margin-top: 12px;
}

.sidebar-toggle span{
display: block;
width: 25px;
height: 1px;
background: #8f919e;
margin-bottom: 9px;
float: right;
}

.sidebar-toggle span.bg{
	width: 100%;
}

.sidebar-toggle{
	float: right;
}

.sidebar_header{
	background: #282a3c;
	padding: 22px 25px;
	height: 80px;
}

.sidebar-main-menu{
	padding: 25px 0;
	overflow: hidden;
}


.sidebar-main-menu ul li a{
	color: #9b9caa;
	font-size: 16px;
	padding: 15px 25px;
	display: inline-block;
	width: 100%;
}


.sidebar-main-menu ul li li a{
	padding-left: 45px;
	background: #282a3c; 
}

.small-menu .sidebar-main-menu ul li li a{
	padding-left: 20px;
}

.sidebar-main-menu ul li a:hover, .sidebar-main-menu ul li a.hovered, .sidebar-main-menu ul li a:active{
	text-decoration: none;
	background: #282a3c;
}

.sidebar-main-menu ul li a.active{
color: #d45932;
}

.sidebar-main-menu ul li a span {
    width: 25px;
    height: 28px;
    display: inline-block;
    background-size: 27px;
    vertical-align: middle;
    margin-right: 10px;
    overflow: hidden;
    opacity: 0.6;
}


.sidebar-main-menu ul li a:hover span{
	opacity: 1;
}

.sidebar-main-menu ul li a.active span {
    background-position: bottom 3px left;
    opacity: 1;
}

.sidebar.small-menu .sidebar_header a:first-child{
display: none;
}


.sidebar.small-menu .sidebar-main-menu ul li a{
	color: transparent;
	width: 75px;
	overflow: hidden;
	height: 51px;
}

.sidebar.small-menu{
	width: 75px;
}

.sidebar.small-menu:before{
	width: 75px;
}

.sidebar.small-menu .sidebar-toggle span{
	float: left;
}




/************************* Main Content design Starts Here ****************************/

.main-content-wrap{
	padding-left: 280px;
	width: 100%;
}


.main-content-wrap.small{
	padding-left: 75px;
}

.avatar-img{
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	background: #d0d3e2;
	text-align: center;
	line-height: 46px;
	margin-right: 15px;
}

.user-menu{
	font-size: 18px;
}

.user-menu a{
	color: #2c2e3e;
	text-decoration: none;
}

.header-heading{
	font-size: 24px;
	color: #595b6c;
	font-weight: light;
	padding-top: 8px
}

.main-content-wrap header {
    padding: 15px 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
    background: #ffffff;
}


.main-content-wrap{
	background: #f2f3f8;
	min-height: 100vh;
}

.main-inner-wrapper{
	padding: 0 30px;

}

.page-heading{
	font-size: 22px;
	line-height: 50px;
	color: #2c2e3e;
	font-weight: normal;
	padding-top: 10px;
}

.main-table-wrapper{
	background: #ffffff;
	border: 1px solid #e7e8eb;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	overflow-x: auto;
	max-width: 100%;
}

.table-main-data{
	min-width: 1200px
}

.select-cat-dropdown{
	float: left;
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 999;
}


.select-cat-dropdown select{
	height: 40px;
	padding: 0 20px;
	border-radius: 3px;
	border: 1px solid #e7e8eb;
	-webkit-appreance: none;
	padding-right: 75px;
	font-size: 15px;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:   none;
}


.select-cat-dropdown:before{
	content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 7px;
    font-size: 17px;
}


div#example_filter {
    float: left;
    border: 1px solid #e7e8eb;
    margin-left: 225px;
    border-radius: 3px;
    margin-bottom: 20px;
}

div#example_filter label{
	font-size: 0px;
	color: transparent;
	margin-bottom: 0;
	position: relative;
}

div#example_filter label input {
    width: 300px;
    border: none;
    font-size: 14px;
    height: 38px;
    padding-left: 40px;
    font-weight: normal;
    color: #2c2e3e;
}

div#example_filter label input:focus{
	outline: none;
}


div#example_filter label:before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    background-image: url(../images/search.png);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}


table.dataTable thead.thead-light th{
    font-weight: 500;
    color: #2c2e3e;
    background-color: #f2f3f8;
    border-color: transparent;
    padding: 10px 18px;
    font-size: 16px;
    vertical-align: middle;
}

table.dataTable thead.thead-light th span{
font-size: 12px;
color: #2c2e3e;
display: block;
opacity: 0.6;
}


table.dataTable tbody td{
	border-top: none;
	font-size: 14px;
	font-weight: light;
	color: #2c2e3e;
	padding: 20px 18px;
	vertical-align: middle;
}

.display-order-input{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	width: 80px;
	border: 1px solid #e7e8eb;
	box-shadow: none;
	font-size: 14px;
	font-weight: light;
	color: #2c2e3e;
}

.display-order-input:focus{
	outline: none;
}

.display-order-input2{
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	min-width: 170px;
	border: 1px solid #e7e8eb;
	box-shadow: none;
	font-size: 14px;
	font-weight: light;
	color: #2c2e3e;
}

.display-order-input2:focus{
	outline: none;
}

.item-desc-text{
	border: 1px solid #e7e8eb;
	resize: none;
	font-size: 14px;
	font-size: 14px;
	font-weight: light;
	color: #2c2e3e;
	    padding: 10px 20px 26px;
}

.item-desc-text:focus{
	outline: none;
	box-shadow: none;
	border-color: #e7e8eb;
}

#count_message{
	    font-size: 11px;
    margin-top: -22px;
    margin-right: 10px;
}

.row-uneditable input{
	border:none;
	padding: 0 0;
	cursor: pointer;
}

.row-uneditable input:hover{
	color: #e65f30;
}


.row-uneditable textarea{
	border:none;
	padding: 0 0;
	cursor: pointer;
}

.row-uneditable textarea:hover{
	color: #e65f30;
}

.row-uneditable #count_message{
	display: none;
}

.image-box-tab{
	display: inline-block;
	width: 80px;
	height: 50px;
	background: #f2f3f8;
	background-image: url(../images/imager-blank.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}


label.add-image-btn {
    font-style: normal;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    line-height: 21px;
    text-align: center;
    background: #5cd55f;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    border: 4px solid #ffffff;
    right: -13px;
    top: 50%;
    cursor: pointer;
    margin-top: -15px;
}


.select-img-input{
	position: absolute;
	visibility: hidden;
	opacity: 0;
}

.image-inner-box{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	border-radius: 3px;
}

.delete-img{
	  font-style: normal;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    line-height: 19px;
    text-align: center;
    background: #e63030	;
    border-radius: 50%;
    color: #ffffff;
    font-size: 15px;
    border: 4px solid #ffffff;
    right: -13px;
    top: 50%;
    cursor: pointer; 	
    margin-top: -15px;
}

table.dataTable.no-footer{
	border-bottom: none;
}

.table-submit-form-btn{
	width: 100%;
	display: inline-block;
}


.table-submit-form-btn a{
	float: right;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #e65f30;
	padding: 15px 22px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 3px;
}

footer{
	text-align: center;
	font-size: 13px;
	color: #2c2e3e;
	padding-bottom: 20px;
	border-top: 1px solid #e7e8eb;
	padding-top: 20px;
}

.sub-menu-side{
	display: none;
}



.small-menu .sub-menu-side {
    position: absolute;
    background: #000;
    width: 250px;
    margin-top: -57px;
    margin-left: 75px;
}

.small-menu .sub-menu-side li a {
    width: 100%!important;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    text-indent: 0;
    color: #9b9caa!important;
}


.sub-menu-side li a{
	font-size: 13px!important;
}


.sub-menu-side li a:hover{
	color: #ffffff!important;
}

/*****************************Header-menu dropdown*****************************/


.main-menu-user {
    position: absolute;
    right: 0;
    background: #ffffff;
    width: 290px;
    border: 1px solid #e8eeee;
    top: 84px;
    right: 30px;
    border-radius: 4px;
    z-index: 999;
    display: none;
}

.main-menu-user li a{
	padding: 10px 20px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #e8eeee;
	font-size: 13px;
}

.main-menu-user ul{
	margin-bottom: 0;
}

.main-menu-user li a:hover{
	background: #fafafa;
}


.main-menu-user:before {
    border: 95px solid #fff;
    content: "";
    border-width: 0 0 px 0;
    width: 0;
    height: 0;
    position: absolute;
    top: -24px;
    z-index: 99999;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #eee;
    right: 30px;
}

.main-menu-user:after {
    border: 95px solid #fff;
    content: "";
    border-width: 0 0 px 0;
    width: 0;
    height: 0;
    position: absolute;
    top: -21px;
    z-index: 99999;
    border-top: 11px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fff;
    right: 31px;
}



/******************* Coupan Page Starts Here ****************************/

.table-main-data-sm{
	min-width: 1150px;
}

.label{
	padding: 8px 20px;
	border: 2px solid #eeeeee;
	background: transparent;
}

.label-success{
	border-color: #6bd86e;
	color: #6bd86e;
	font-size: 16px;
	border-radius: 3px;
}

.label-danger{
	border-color: #e63030;
	color: #e63030;
	font-size: 16px;
	border-radius: 3px;
}

.row-uneditable input[type="file"]{
	width: 1px
}


/*********************************  CATEGORY PAGE *****************************/


.without-cat-dropdown div#example_filter{
	margin-left: 0;
}


.image-box-tab.img-758-128{
	width: 298px;
	height: 50px;
	border-radius: 3px;
}

.input-name-lg{
	width: 80%;

}



tr.even td {
    background: #fbfbfe;
}


.row-uneditable input, .row-uneditable textarea{
	background: transparent;	
}

.inner-box-head{
	font-size: 20px;
	font-weight: 500;
	color: #2c2e3e;
	margin-top: 10px;
	margin-bottom: 20px;
}

.heading-image-config-side{
	font-size: 14px;
	color: #2c2e3e;
	font-weight: normal;
}

.heading-image-config-side span{
	font-size: 12px;
	color: #2c2e3e;
	opacity: 0.6;
	font-weight: 500;
	display: block;
}

.img-246-99{
	width: 250px;
	height: 100px;		
}



.img-235-148{
	width: 235px;
	height: 148px;		
}


.img-30-30{
	width: 30px;
	height: 30px;
}


.img-30-30 label.add-image-btn{
	right: -32px;
}

.img-30-30 label.delete-img{
	right: -32px;
}

.main-table-wrapper a{
	color: #3b5999;
	text-decoration: underline;
}

.form-control{
	border: 1px solid #e7e8eb;
	min-height: 40px;
}

.form-group label{
	font-size: 14px;
	color: #2c2e3e;
}








/************************ PIZZA BUILDER *****************************/

.accordion-pizza .panel-heading{
	background: #f9fafc;
	border-radius: 0;
	padding: 0;
	font-size: 16px;
	color: #2c2e3e;
}

.accordion-pizza .panel-heading a{
	font-size: 16px;
    color: #2c2e3e;
    padding: 25px 25px 25px 90px;
    display: inline-block;
    position: relative;
    width: 100%;
    text-decoration: none;
    border: 1px solid #e7e8eb;
    border-radius: 3px 3px 0 0;
}


.accordion-pizza .panel-heading a.collapsed{
	border: 1px solid transparent!important;
	border-radius: 0;
}

.accordion-pizza .panel-heading a:hover, .accordion-pizza .panel-heading a:focus{
	text-decoration: none;
}


.panel-group.accordion-pizza .panel{
	border: none;
	margin-bottom: 20px;
}

.accordion-pizza .panel-body{
	border: 1px solid #e7e8eb;
	border-top: none!important;
	border-radius: 0 0 3px 3px;
	padding: 20px;

}

.accordion-pizza .panel-heading a:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1px;
    background: #e7e8eb;
    left: 67px;
}



.accordion-pizza .panel-heading a:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e65f30;
    border: 2px solid #e7e8eb;
    left: 24px;
    margin-top: -10px;
}


.accordion-pizza .panel-heading a.collapsed:after{
	background: #fff;
}

.pizza-buide-desc h4{
	font-size: 16px;
	color: #e65f30;
	font-weight: 500;
	margin-top: 9px;
	margin-bottom: 3px;
}

.pizza-buide-desc{
	padding-left: 15px;
}

.pizza-buide-desc p{
	font-size: 13px;
	color: #2c2e3e;
	font-style: italic;
	opacity: 0.6;
}

.media{
	border-bottom: 1px solid #e7e8eb;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.form-control:focus{
outline: none;
box-shadow: none;
}

a:focus, button:focus{
outline: none;
}

div[class^="col-"]{
	float: left;
	max-width: 100%;
}

.form-row > .col, .form-row > [class*="col-"]{
	float: left;
}